<a
  [routerLink]="['/artisan', artisan.id]"
  class="bg-white rounded-xl overflow-hidden shadow-md hover:-translate-y-1 transition-transform duration-300 block"
>
  <div class="relative">
    <!-- <img
      [src]="
        artisan.profilePictureFileName
          ? 'http://localhost:8080/api/images/profile-pictures/' +
            artisan.profilePictureFileName
          : '/default-profile.jpg'
      "
      [alt]="artisan.nomComplet"
      class="w-full h-48 object-cover"
      onerror="this.src='assets/default-profile.jpg'"
    /> 
    -->

    <img
      [src]="artisan.profilePictureUrl"
      [alt]="artisan.nomComplet"
      class="w-full h-48 object-cover"
    />
  </div>

  <div class="p-6">
    <h3 class="text-xl font-semibold text-dark-blue">
      {{ artisan.nomComplet }}
    </h3>
    <div class="text-yellow-400 my-2">{{ artisan.rating }}</div>

    <div class="text-gray-600 text-sm space-y-1">
      <p>📍 {{ artisan.adresse }}</p>
      <p>📞 {{ artisan.phone }}</p>
    </div>

    <p class="mt-3 text-gray-700">{{ artisan.description }}</p>

    <div class="mt-4 space-y-2 border-t pt-4">
      <div
        *ngFor="let service of artisan.recentServices"
        class="text-sm text-gray-600"
      >
        <span class="font-semibold">{{ service.titre }}</span>
        <span class="text-bright-blue"> - From {{ service.tarif }} MAD</span>
      </div>
    </div>

    <div class="mt-4">
      <span
        class="bg-blue-100 text-blue-800 px-3 py-1 rounded-full text-sm inline-block"
      >
        {{ artisan.metier }}
      </span>
    </div>
  </div>
</a>
